<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parking-list"></ion-back-button>
    </ion-buttons>

    <ion-title>Détails du Parking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="parking$ | async as p">
  <ion-card>

    <!-- Image du parking -->
    <ion-img
      src="assets/images/parking2.jpg"
      class="parking-detail-image">
    </ion-img>

    <ion-card-header>
      <ion-card-title>{{ p.nom }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ p.description }}</p>
      <p>🅿️ Places disponibles : <b>{{ p.places }}</b></p>

      <!-- Réserver -->
      <ion-button
        expand="block"
        color="success"
        (click)="reserver()"
        [disabled]="hasActiveReservation || p.places <= 0 || isProcessing">
        🚗 Réserver
      </ion-button>

      <!-- Quitter -->
      <ion-button
        expand="block"
        color="danger"
        *ngIf="hasActiveReservation"
        [disabled]="isProcessing"
        (click)="quitter()">
        🚪 Quitter le parking
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
