.parking-detail-card {
  border-radius: 14px;
  overflow: hidden;
}

.parking-detail-image {
  height: 220px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.description {
  font-size: 15px;
  color: #555;
  margin-bottom: 16px;
}

ion-card-title {
  font-weight: bold;
  font-size: 20px;
}

ion-card-subtitle {
  font-size: 14px;
  color: #666;
}
