<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/parking-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails du Parking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="parking$ | async as p">
  <div class="header-img"></div>
  <div class="ion-padding">
    <h1>{{ p.nom }}</h1>
    <p><ion-icon name="location-outline"></ion-icon> {{ p.adresse }}</p>
    <p>{{ p.description }}</p>
    <ion-button expand="block" (click)="reserver()" class="ion-margin-top">
      Réserver ({{ p.prix }} DT)
    </ion-button>
  </div>
</ion-content>