<ion-content class="ion-padding">
  <div class="login-container">
    <div class="header-section">
      <div class="logo-circle">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>
      <h2>Créer un compte</h2>
      <p>Rejoignez Smart Parking dès aujourd'hui</p>
    </div>
    
    <ion-item lines="none">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="name" name="name" type="text" placeholder="Nom et Prénom"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="phone" name="phone" type="tel" placeholder="-- --- ---"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="********"></ion-input>
    </ion-item>

    <ion-item lines="none" class="role-selection">
      <ion-label position="stacked">Vous êtes ?</ion-label>
      <ion-select [(ngModel)]="role" name="role" interface="popover">
        <ion-select-option value="DRIVER">🚗 Conducteur</ion-select-option>
        <ion-select-option value="MANAGER">🏢 Gestionnaire</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="register()" class="main-btn">S'INSCRIRE</ion-button>

    <div class="error-message" *ngIf="error">
      {{ error }}
    </div>

    <p class="login-text">
        Déjà inscrit ? <a (click)="goToLogin()">Se connecter</a>
      </p>
  </div>
</ion-content>